/*==============================================*/
/*       GLOBAL CHANGES TO HTML ELEMENTS        */
/*==============================================*/
img { width: 100%; }


/*==============================================*/
/*               Pre-defined style              */
/*==============================================*/
.cont {
}
.panel {
}

.title {
	font-weight: 700;
}
.min > .title:hover { background: var(--lightColor); }
